<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/confirmation.css">
    <title>Bevestiging Aankoop</title>

</head>
<body>
    <div class="confirmation">
        <h1>Bedankt voor uw aankoop!</h1>
        <p>Uw bestelling is succesvol verwerkt.</p>
        <p>U ontvangt binnenkort een bevestigingsmail.</p>
        <a href="/dashboard">Terug naar Home</a>
    </div>
</body>
</html>
