<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" content="${_csrf.token}">
    <link rel="stylesheet" href="/login.css">
    <title>Inloggen</title>
</head>
<body>
    <h1>Inloggen</h1>
    <form action="/login" method="POST"> <!-- Laat Spring Security de login afhandelen -->
        <input type="hidden" name="_csrf" value="${_csrf.token}"> <!-- CSRF Token -->
        <label for="username">Gebruikersnaam:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Wachtwoord:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Inloggen</button>
    </form>
    <p id="loginMessage"></p>
    <p class="link">
        <button onclick="location.href='/register'" style="background-color: #007BFF; color: white; border: none; cursor: pointer; padding: 10px 15px;">Geen account? Registreer hier.</button>
    </p>
</body>
</html>
